h2{
    color: greenyellow;
}
h1{
    color: red;
}
form :active{
    background-color: rgb(255, 255,0);
}
form button{
    background-color: blueviolet;
}
.chrc{
    padding: auto;

}
p::selection{
    color: royalblue;
    background-color: black;
}
body{
    background-color: rgba(49, 165,23, 0.5);
}

